{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block Title %}NerSample{% endblock %}

{% block scriptHeader %}
    {{block.super}}
    <script type="text/javascript" src="{% static 'webpage/libraries/csrf.js' %}"></script>
{% endblock scriptHeader %}

{% block content %}

<div class="container">
    {% if object.entity_checked %}
        <h1>CHECKED</h1>
    {% endif %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                    <h2>
                        <a href="{% url 'annotations:nersample_detail' pk=object.get_prev %}">
                            <i class="fas fa-chevron-left" title="previous"></i>
                        </a>
                    </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                        <small>{{ object.text|truncatechars:30 }}
                        {% if user.is_authenticated %}
                        <small>
                        <a href="{% url 'annotations:nersample_edit' pk=object.id %}">
                            <i class="far fa-edit" title="edit"></i>
                        </a>
                        </small>
                        |
                        <small>
                        <a href="{% url 'annotations:nersample_delete' pk=object.id %}">
                            <i class="far fa-trash-alt" title="delete"></i>
                            </a>
                        </small>
                    {% endif %}
                </h1>
            </div>
            <div class="col-md-2">
                <h2>
                    {% if object.get_next %}
                        <a href="{% url 'annotations:nersample_detail' pk=object.get_next %}" style="float:right">
                            <i class="fas fa-chevron-right" title="next"></i>
                        </a>
                    {% endif %}
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body" style="text-align: center">
        <div id="show_offset"/>
        <div class="row">
            <div class="col-md-12">
                <form id="annos">
                    {% for x in object.make_html_samples %}
                        <div class="row">
                            <div class="col-md-8">
                                {{ x.annotated|safe }} <br />
                                <code id="new_offset-{{ forloop.counter0 }}">{{ object.text }}</code>
                            </div>

                            <div class="col-md-4">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="start_char">Start Char</label>
                                        <input class="form-control" name="start_char-{{ forloop.counter0 }}" type="number" value="{{ x.start }}" id="start_char-{{ forloop.counter0 }}">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="end_char">End Char</label>
                                        <input class="form-control" name="end_char-{{ forloop.counter0 }}" type="number" value="{{ x.end }}" id="end_char-{{ forloop.counter0 }}">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="ent_type">Type</label>
                                        <select class="form-control" name="ent_type-{{ forloop.counter0 }}" id="ent_type-{{ forloop.counter0 }}">
                                            <option value="{{ x.ent }}" selected>{{ x.ent }}</option>
                                            <option value="PER">PER</option>
                                            <option value="OBJECT">OBJECT</option>
                                            <option value="LOC">LOC</option>
                                            <option value="ORG">ORG</option>
                                            <option value="MISC">MISC</option>
                                            <option value="FALSE">FALSE</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <input type="submit" name="status" value="correct" class="btn btn-success"></input>
                </form>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <legend>
                    spacy
                </legend>
                {{ object.entity_json|safe }}
            </div>
            <div class="col-md-6">
                <legend>
                    checked
                </legend>
                {{ object.entity_checked|safe }}
            </div>

        </div>

        <!--change history collapse button-->
        {% if user.is_authenticated %}
        {% if history %}
        <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#changeHistory" aria-expanded="false" aria-controls="changeHistory">
        Change history
        </button>
        <div class="collapse" id="changeHistory">
            <div class="card card-body">
                   {% for x in history %}
                    <li>
                   {{ x.revision.date_created }} changed by {{ x.revision.user }}
                   </li>
                   {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endif %}
        <!--change history ends here-->
    </div>
</div>

</div>
<div class="card">
    <div class="card-header">
        <h3>related objects</h3>
    </div>
    <div class="card-body">
        <a href="{{ object.content_object.get_absolute_url }}">{{ object.content_object }}</a>
    </div>
</div>
<script>
    $('code').mouseup(function() {
      var new_entity = getSelectedText();
    });
    function getSelectedText() {
        var selObj = document.getSelection();
        entity = selObj.toString();
        start_char = selObj.anchorOffset;
        end_char = selObj.focusOffset;
        console.log(start_char, end_char);
        $('<strong>start: '+start_char+' end: '+end_char+'</strong>').appendTo('#show_offset');
    }
</script>
<script>

    var myForm = document.getElementById('annos');
    myForm.addEventListener('submit', function(event)
    {
        event.preventDefault();
        var formData = new FormData(myForm),
            result = {};

        for (var entry of formData.entries())
        {
            result[entry[0]] = entry[1];
        }

        var items = Object.values(result);
        var arrays = [], size = 3;
        while (items.length > 0)
            arrays.push(items.splice(0, size));

        var final = {};
        final.entities = [];

        arrays.forEach(function(element) {
            if (element[2] != 'FALSE') {
                final.entities.push(element)
            }
        });

        {% if next_filtered %}
            var next_url = "{% url 'annotations:nersample_detail' pk=next_filtered %}"
        {% else %}
            var next_url = false;
        {% endif %}

        $.ajax({
            url: "{{ object.get_api_url}}",
            type: 'PUT',
            data: JSON.stringify({entity_checked: final}),
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            success: function(data) {
                if (next_url) {
                    window.location.href = next_url
                }
                else {
                    alert('you reached the final annotation')
                }
            }
        });
    });
</script>
{% endblock %}
